{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'comments:new:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1 class="h2">
            {% trans 'comments:new:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <p>
            {% trans 'comments:new:info_text' %}
        </p>
        <form method="post" class="uu-form uu-form-no-help uu-form-no-gap">
            {% csrf_token %}
            <table width="100%">
                {{ form.as_table }}
            </table>
            <div class="float-end">
                <button type="submit" class="btn btn-primary">{% trans 'comments:globals:add_button' %}</button>
            </div>
        </form>
        <br/>
        <br/>
    </div>
</div>
{% endblock %}
