/* How dare you call this a CSS Hack! It's not a CSS hack, it's a horrible CSS hack! */
.behind-icon {
    margin-right: -15px;
    font-weight: bold;
}

.criteria-table {
    font-size: 0.7rem;
}

.criteria-table td {
    padding: 1px 5px;
}

.criteria-table td:nth-child(2)  {
    color: green;
}

.dt-buttons {
    float: left;
}

.uu-root-container {
    --bs-uu-hero-bg: var(--bs-blue);
    --bs-uu-hero-color: var(--bs-white);

    --bs-uu-container-width: 115rem;
    --bs-uu-content-width: 100rem;
}
