{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}
{% load static %}

{% block header_title %}
    {% trans 'datamanagement:thresholds:edit:header' %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script src="{% static 'widgets/js/timespan_widget.js' %}"></script>
{% endblock %}

{% block pre-messages-content %}
<div class="uu-hero">
    <h1>
        {% trans 'datamanagement:thresholds:edit:header' %}
    </h1>
</div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <p>
            {% trans 'datamanagement:thresholds:edit:info_text' %}
        </p>
        <form method="post" class="uu-form uu-form-no-gap uu-form-no-help">
            {% csrf_token %}
            {{ form }}
            <div class="float-end mt-3">
                <button type="submit" class="btn btn-primary">
                    {% trans 'datamanagement:global:save_button' %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
