{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}
{% load static %}
{% block header_title %}
    {% trans 'datamanagement:home:header' %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script src="{% static 'datamanagement/js/index.js' %}"></script>
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero justify-content-between align-items-center">
        <h1>
            {% trans 'datamanagement:home:header' %}
        </h1>

        <a href="{% url 'datamanagement:thresholds' %}" class="btn btn-secondary">
            {% trans 'datamanagement:home:edit_thresholds' %}
        </a>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <p>
            {% trans 'datamanagement:home:info_text' %}
        </p>
        <div class="accordion" id="datamanagement-accordion" style="--bs-accordion-bg: #FFF;--bs-accordion-border-width: .0625rem">
            {% include 'datamanagement/index_parts/participants.html' %}
            {% include 'datamanagement/index_parts/exp_part_visibility.html' %}
            {% include 'datamanagement/index_parts/comments.html' %}
            {% include 'datamanagement/index_parts/invites.html' %}
        </div>
    </div>
</div>
{% endblock %}
