{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'leaders:new:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1>
            {% trans 'leaders:new:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <form method="post" class="uu-form uu-form-no-gap">
            {% csrf_token %}
            {{ form }}
            <div class="float-end mt-3">
                <button type="submit" class="btn btn-primary">
                    {% trans 'leaders:globals:save_button' %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
