{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}
{% load static %}

{% block header_title %}
    {% transformat 'leaders:update:header' form.name.value %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script src="{% static 'cdh.core/js/form_helpers.js' %}"></script>
    <script nonce="{{ request.csp_nonce }}">
    $(function () {
        depends_on_value('keep_current_password', undefined, 'password');
        depends_on_value('keep_current_password', undefined, 'confirm_password');
    });
    </script>
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1 class="h2">
            {% transformat 'leaders:update:header' form.name.value %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <form method="post" class="uu-form uu-form-no-gap">
            {% csrf_token %}
            {{ form }}
            <div class="float-end mt-3">
                <button type="submit" class="btn btn-primary">
                    {% trans 'leaders:globals:save_button' %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
