{% load i18n %}
{% load transformat %}
{% load static %}

<div class="col-12 col-sm-8 pe-sm-3">
    <p>
        {% with safe_duration=experiment.duration|safe %}
            {% transformat 'register:content:duration' safe_duration %}.
        {% endwith %}
        {% if experiment.location %}
            {% with safe_location=experiment.location.name|safe %}
                    {% trans 'register:content:location' %}
                    {% if experiment.location.route_url %}<a href="{{ experiment.location.route_url }}" target="_blank">{{ safe_location }}</a>{% else %}{{ safe_location }}{% endif %}.
            {% endwith %}
        {% endif %}
    </p>
    <p>
        {% trans 'register:content:details' %}
    </p>
    <ul>
        <li>
            {% with safe_compensation=experiment.compensation|safe %}
                {% transformat 'register:content:compensation' safe_compensation %}
            {% endwith %}
        </li>
        {% if experiment.task_description %}
            <li>
                {{ experiment.task_description | safe }}
            </li>
        {% endif %}
        {% if experiment.additional_instructions %}
            <li>
                {{ experiment.additional_instructions | safe }}
            </li>
        {% endif %}
    </ul>
</div>

<div class="col-sm-4 col-12">
    <h4 >
        {% trans 'register:content:leader' %} {{ experiment.leader.name }}
    </h4>
    {% if experiment.leader.photo %}
        <img src="{{ experiment.leader.photo.url }}" title="{{ experiment.leader.name }}"
             alt="{{ experiment.leader.name }}" class="leader-image"/>
    {% endif %}
    {% if experiment.additional_leaders %}
        <p>
            {% transformat 'register:content:other_leaders' %}
            {{ experiment.display_additional_leaders }}
        </p>
    {% endif %}
</div>
