{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% trans 'participants:delete:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1 class="h2">
            {% trans 'participants:delete:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <form method="post">{% csrf_token %}
            <p>{% transformat 'participants:delete:text' object %}</p>
            <div class="btn-group">
                <a href="{% url 'participants:home' %}" class="btn btn-secondary">
                    {% trans 'participants:delete:cancel' %}
                </a>
                <button type="submit" class="btn btn-primary">
                    {% trans 'participants:delete:confirm' %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
