{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}
{% load messages %}

{% block header_title %}
    {% transformat 'participants:detail:header' participant.fullname %} - {{ block.super }}
{% endblock %}

{% block html_head %}
    {{ block.super }}
    <script nonce="{{ request.csp_nonce }}">
        $(function () {
            $('.dt_custom').DataTable({
                order: [[1, 'desc']]
            });
        });
    </script>
{% endblock %}

{% block uu-content %}
    <div class="uu-hero justify-content-between align-items-center">
        <h1 class="h2 text-truncate">
            {% transformat 'participants:detail:header' participant.fullname %}
        </h1>
        <a href="{% url 'participants:edit' participant.pk %}" class="btn btn-secondary btn-sm">
            {% trans 'participants:detail:edit_participant' %}
        </a>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="uu-container mb-0 alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="uu-sidebar-container" style="--bs-uu-sidebar-gap: 1.5rem;--bs-uu-sidebar-width: 27rem;">
        <div class="uu-sidebar">
            <h3>{% trans 'participant:detail:table_header' %}</h3>
            <table class="w-100 table table-sm mt-2" style="--bs-table-border-color: #ccc">
                <tr>
                    <th width="40%">
                        {% get_verbose_field_name "participants" "Participant" "name" %}
                    </th>
                    <td width="60%">
                        {{ participant.name|default_if_none:_('Unknown') }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "email" %}
                    </th>
                    <td>
                        <a href="mailto:{{ participant.email }}">
                            {{ participant.email }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>
                        {% transformat 'participants:detail:secondary_emails' %}
                    </th>
                    <td>
                        {% for email in participant.secondaryemail_set.all %}
                            <a href="mailto:{{ email.email }}">{{ email.email }}</a>,
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% transformat 'participants:detail:has_account' %}
                    </th>
                    <td>
                        {{ participant.has_account|yesno:_("yes,no") }}
                        {% if participant.has_account %}
                        ({{ participant.api_user.email }})
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "language" %}
                    </th>
                    <td>
                        {{ participant.language }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "dyslexic" %}
                    </th>
                    <td>
                        {{ participant.dyslexic|yesno:_("yes,no") }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "birth_date" %}
                    </th>
                    <td>
                        {{ participant.birth_date|date:"Y-m-d"|default_if_none:"" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "multilingual" %}
                    </th>
                    <td>
                        {{ participant.multilingual|yesno:_("options:many,one")|default_if_none:"" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "phonenumber" %}
                    </th>
                    <td>
                        {{ participant.phonenumber|default_if_none:"" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "handedness" %}
                    </th>
                    <td>
                        {{ participant.get_handedness_display|default_if_none:"" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "sex" %}
                    </th>
                    <td>
                        {{ participant.get_sex_display|default_if_none:"" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "social_status" %}
                    </th>
                    <td>
                        {{ participant.get_social_status_display|default_if_none:"" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "email_subscription" %}
                    </th>
                    <td>
                        {{ participant.email_subscription|yesno:_("yes,no") }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_field_name "participants" "Participant" "capable" %}
                    </th>
                    <td>
                        {{ participant.capable|yesno:_("yes,no") }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="uu-sidebar-content">
            <table class="dt_custom table w-100">
                <thead>
                    <tr>
                        <th>
                            {% trans 'participants:detail:experiments' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:datetime' %}
                        </th>
                        <th>
                            {% trans 'participants:detail:place' %}
                        </th>
                    </tr>
                </thead>
                {% for appointment in participant.appointments.all %}
                    <tr>
                        <td>
                            {{ appointment.experiment }}
                        </td>
                        <td>
                            {% if appointment.timeslot %}
                                {{ appointment.timeslot.datetime|date:"Y-m-d H:i" }}
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.timeslot %}
                                {{ appointment.place }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
