{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load datatables %}
{% load get_field_name %}

{% block header_title %}
    {% transformat 'participants:specific_criteria:header' participant.fullname %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1>
            {% transformat 'participants:specific_criteria:header' participant.fullname %}
        </h1>
    </div>
{% endblock %}

{% block content %}
<div class="uu-container">
    <div class="col-12">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ formset.management_form }}

            <table class="table w-100">
                {% for form in formset %}
                    {{ form.as_table }}
                {% endfor %}
            </table>

            <div class="float-end">
                <button type="submit" class="btn btn-primary">
                    {% trans 'participants:globals:save_button' %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
