{% extends "base/ppn_base.html" %}
{% load i18n %}
{% load transformat %}
{% load menu %}

{% block header_title %}
    {% trans 'main:home:header' %} - {{ block.super }}
{% endblock %}

{% block pre-messages-content %}
    <div class="uu-hero">
        <h1 class="uu-sidebar-header-linked h2">
            {% trans 'main:home:header' %}
        </h1>
    </div>
{% endblock %}

{% block content %}
    {% generate_menu %}
    <div class="uu-sidebar-container uu-sidebar-right" style="--bs-uu-sidebar-gap: 2rem; --bs-uu-sidebar-width: 15rem">
        <div class="uu-sidebar-content">
            <div class="col-12">
                {% transformat 'main:home:text' request.user.get_full_name experiments.count num_free_places %}
                <table class="w-100 table mt-2">
                    <thead>
                        <tr>
                            <th class="w-75">
                                {% trans 'main:home:experiments:name' %}
                            </th>
                            <th>
                                {% trans 'main:globals:actions' %}
                            </th>
                        </tr>
                    </thead>
                    {% for experiment in experiments %}
                        <tr>
                            <td>
                                <a href="{% url 'experiments:detail' experiment.pk %}">
                                    {{ experiment }}
                                </a>
                            </td>
                            <td>
                                {% include 'experiments/experiment_actions_snippit.html' %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="uu-sidebar">
            <div class="uu-sidebar-collapse">
                <h2 >
                    {% trans 'main:home:menu' %}
                </h2>
                <ul class="nav">
                    {% for item in menus.main %}
                        <li class="nav-item">
                            <a href="{{ item.url }}" class="nav-link">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
